 /* 
 *::before,
 *::after {
     box-sizing: border-box
 }

 body,
 h1,
 h2,
 h3,
 h4,
 p,
 figure,
 blockquote,
 dl,
 dd {
     margin: 0
 }

 ul[role="list"],
 ol[role="list"] {
     list-style: none
 }

 html:focus-within {
     scroll-behavior: smooth
 }
*, */
 * {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 html,
 body,
 main {
     margin: 0;
 }

 body {
     min-height: 100vh;
     text-rendering: optimizeSpeed;
     line-height: 1.5
 }

 a:not([class]) {
     text-decoration-skip-ink: auto
 }

 img,
 picture {
     max-width: 100%;
     display: block
 }

 input,
 button,
 textarea,
 select {
     font: inherit
 }

 @media(prefers-reduced-motion:reduce) {
     html:focus-within {
         scroll-behavior: auto
     }

     *,
     *::before,
     *::after {
         animation-duration: .01ms !important;
         animation-iteration-count: 1 !important;
         transition-duration: .01ms !important;
         scroll-behavior: auto !important
     }
 }

 */ body#loginBody {
     background: url('/images/Jake1.jpg') no-repeat center center fixed;
     background-size: cover;
 }

 body {
     font-family: arial;
 }

 div.loginHeader {
     text-align: center;
 }

 div.loginHeader {
     margin-bottom: 60px;
 }

 div.loginHeader h1 {
     font-size: 100px;
     color: rgb(128, 1, 128);
     padding: 0px;
     margin: 0px;
 }

 div.loginHeader p {
     color: #f5229d;
     font-size: 45px;
     margin: 0px;
     text-transform: uppercase;
     display: inline-block;
 }

 div.loginHeader p:after {
     content: '';
     display: block;
     height: 5px;
     background: #6851a2;
     margin: 0px auto;
 }

 div.loginBody form {
     margin: 0 auto;
     width: 200px;
     background: rgb(15, 13, 2, 1.0);
     padding: 50px;
     border: 4px solid rgb(11, 158, 70);
     border-radius: 7px;
 }

 div.loginInputsContainer {
     margin-top: 2px;
 }

 div.loginInputsContainer label {
     display: block;
     text-transform: uppercase;
     font-size: 18px;
     font-weight: bold;
     color: #fff;
 }

 div.loginInputsContainer input {
     height: 30px;
     width: 100%;
     border: 2px solid #403339;
     font-size: 20px;
     padding: 5px;
     text-align: center;
     font-style: italic;
 }

 div.loginButtonContainer {
     margin-top: 40px;
     text-align: center;
 }

 div.loginButtonContainer button {
     font-size: 20px;
     padding: 10px 40px;
     background: #f685a2;
     border: none;
     color: #fff;
 }

 div.header {
     width: 100%;
     background: #f685a1;
     padding: 10px 0;
     text-align: right;
 }

 div.header a {
     font-size: 20px;
     color: #fff;
     padding: 5px 10px;
     text-decoration: none;
     border: 2px solid transparent;
     border-bottom: 2px solid #fff;
 }

 div.header a:hover {
     border-radius: 5px;
     border: 2px solid #fff;
 }

 div.banner {
     background url('css/images/Jake1.jpg') no-repeat center center fixed;
     background-size: cover;
     padding-top: 100px;
     padding-bottom: 100px;
     height: 80vh;
 }

 div.homepageContainer {
     width: 100%;
     max-width: 1000px;
     margin: 0 auto;
 }

 div.bannerHeader h1 {
     font-size: 100px;
     color: #f485f6;
     line-height: 100%;
 }

 div.bannerHeader p {
     font-size: 100px;
     color: #f685a1(315, 20%, 96%);
     text-transform: uppercase;
     line-height: 100%;
 }

 p.bannerTagline {
     margin-top: 20px;
     font-size: 25px;
     color: #fff;
 }

 div.bannerIcons {
     margin-top: 150px;
 }

 div.bannerIcons a {
     font-size: 23px;
     margin-left: 40px;
     padding: 7px 15px;
     background: rgba(0, 0, 0, 0.5);
     color: #868485 border-radius: 50%;
     width: 50px;
     height: 50px;
     display: inline-block;
 }

 div.bannerIcons a:first-child {
     margin: left: 0px;
 }

 div.bannerIcons a:hover {
     color: #fff;
     font-size: 25px;
     background: #f685a1;
     transition: .5s all;
 }

 div.homepageFeatures {
     display: flex;
     flex-direction: row;
     padding: 50px 0px;
 }

 div.homepageFeature {
     padding: 10px 20px;
     text-align: center;
     width: 33.33%;
 }

 div.homepageFeature:hover {
     border-top: 2px solid #f8a4b9;
     border-bottom: 2px solid #f8a4b9;
     transition: 0.5s all;
 }

 div.homepageFeature span.featureIcon {
     height: 80px;
     width: 80px;
     display: inline-block;
     font-size: 50px;
     background: #f685a1;
     color: #fff;
     padding-top: 5px;
     border-radius: 50%;
     margin-bottom: 20px;
 }

 div.homepageFeature h3.featureTitle {
     margin-bottom: 20px;
     font-size: 20px;
 }

 div.homepageFeature p.featureDescription {
     color: #848484;
     font-size: 18px;
 }

 div.homepageNotified {
     background: #e3e3e3;
     padding: 80px 0px;
 }

 div.homepageNotifiedContainer {
     display: flex;
     flex-direction: row;
 }

 div.emailForm h3 {
     font-size: 25px;
 }

 div.emailForm {
     width: 40%;
 }

 div.video {
     width: 60%;
     text-align: center;
 }

 div.homepageNotified h3 {
     margin-bottom: 20px;
 }

 div.homepageNotified p {
     color: #848484;
     line-height: 200%;
     margin-bottom: 30px;
 }

 div.formContainer {
     width: 80%;
     position: relative;
 }

 div.div.formContainer input {
     width: 100px;
     padding: 15px 10px;
     border-radius: 15px;
     border: none;
 }

 formContainer input:focus {
     online: none;
 }

 div.formContainer button {
     position: absolute;
     right: 0;
     top: 0;
     height: 100%;
     font-size: 22px;
     padding: 0px 10px;
     background: #f685a1;
     border: none;
     color: #fff;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
 }

 iframe {
     width: 80%;
     height: 100%;
 }

 div.socials {
     text-align: center;
     padding: 70px 0 40px 0px;
 }

 h3.socialHeader {
     font-size: 30px;
 }

 p.socialText {
     margin-top: 20px;
     margin-bottom: 25px;
     color: #848484;
     font-size: 20px;
 }

 div.socialHeader {
     font-size: 30px;
 }

 div.socialText {
     margin-top: 15px;
     margin-bottom: 25px;
     color: #fff;
 }

 div.socialIconsContainer a {
     font-size: 23px;
     height: 50px;
     width: 50px;
     display: inline-block;
     padding-top: 7px;
     background: #d4d4d4;
     border-radius: 50%;
     color: #fff;
     margin-left: 20px;
 }

 div.socialIconsContainer a:hover {
     background: #f8a4b9;
     transition: 0.3s all;
 }

 div.footer {
     color: #e3e3e3;
     padding-top: 50px;
     padding-bottom: 50px;
     text-align: center;
 }

 div.footer a {
     color: #848484;
     margin-left: 20px;
     text-decoration: none;
 }

 div.footer a:hover {
     font-weight: bold;
     color: #f8a4b9;
     transition: 0.5s all;
 }

 div.dashboard_content_main {
     background-color: #e8d6df;
     min-height: 900px;
     height: 177vh;
 }

 /* Dashboard Style */
 #dashboardMainContainer {
     display: flex;
     flex-direction: row;
     background-color: #fff;
     align-items: space-evenly;
 }

 div.dashboard_sidebar {
     width: 30%;
     background: #bd21b5;
     height: 200vh;
 }

 div.dashboard_content_container {
     width: 70%;

 }

 /* logout area */
 h3.dashboard_logo {
     color: #fa55c5;
     font-size: 5px;
     text-align: center;
     margin: 5px 0;
 }

 div.dashboard_sidebar_user {

     text-align: center;
     position: relative;
     padding-bottom: 20px;
     border-bottom: 4px solid #fff;

 }

 div.dashboard_sidebar_user img {
     width: 100px;
     display: inline-block;
     border-radius: 50%;
     border: 4px solid #f85cac;
     margin-right: 5px;
     vertical-align: middle;
 }

 /*small Salty*/
 div.dashboard_sidebar_user span {

     margin: 10px;
     padding-top: 15px;
     top: 20%;
     margin-left: 2%;
     font-size: 20px;
     font-weight: bold;
     text-transform: uppercase;
     display: inline-block;
     display: flex;
 }

 /* sidebar buttons */
 .menuButton {
     width: 80px;
     height: 50px;
     margin: 5px;
     font-weight: bold;
     border: 5px solid #3905f4;
 }

 button#myBtn {
     background: #35e7fe;

 }

 button#myBtn1 {
     background: #33fa21f4;


 }

 button#myBtn2 {

     background: #d505ff;

 }

 button#myBtn3 {
     background: #fbe70c;


 }

 button#myBtn4 {
     background: #fb0cbb;

 }

 button#myBtn5 {
     background: #fc1d16;

 }

 .dashboard_content_main :hover {
     background-color: #f4f6f8;
     transition: background-color 0.3s, color 0.3s;
     cursor: pointer;
     color: #fff;
 }

 /* buttons on right of sb */
 .bigButton {
     width: 175px;
     height: 100px;
     margin: 10px;
     font-weight: bold;
     border: 7px solid #3905f4;
     border-radius: 0;
 }

 /* button for pg 2 */
 button#index {
     background-color: #3905f4;
     font-size: 10px;
     font-weight: bold;
     width: 100px;
     height: 30px;
     margin: left;
     color: #fff;
     border: 5px solid #f904ed;

 }

 button#page3 {
     background-color: #f904ed;
     font-size: 10px;
     font-weight: bold;
     width: 100px;
     height: 30px;
     margin: left;
     color: #fff;
     border: 7px solid #3905f4;
 }

 button#myBtn00 {
     background: #35e7fe;

 }

 button#myBtn11 {
     background: #33fa21f4;

 }

 button#myBtn22 {
     background: #d712ff;

 }

 button#myBtn33 {
     background: #fee311;

 }

 button#myBtn44 {
     background: #fb0cbb;

 }

 button#myBtn55 {
     background: #fc1d16;

 }

 ul.dashboard_menu_lists {
     margin-top: 1px;
     padding-left: 0;
 }

 ul.dashboard_menu_lists li {
     padding: 15px 15px;
     font-size: 20px;
     text-transform: uppercase;
 }

 ul.dashboard_menu_lists li a {
     text-decoration: none;
     color: #ffffff;
     display: block;
     font-size: 18px;
 }

 ul.dashboard_menu_lists li a i {
     font-size: 0px;

 }

 ul.dashboard_menu_lists li.menuActive {

     font-size: 10px;
     color: #fff;

 }

 /*bottom dashboard*/
 ul.dashboard_content li:hover {
     padding-left: 0;
     background: #19055f;
     color: #fff;
     transition: 0.3s all;
 }

 div.dashboard_topNav {
     background-color: #fff;
     padding: 20px;
 }

 div.dashboard_topNav a {
     color: #00188e;
     font-size: 18px;
     text-decoration: none;
 }

 a#logoutBtn {
     float: right;
 }

 div.dashboard_content {
     padding: 5cap 10px 10px 10px;

 }

 /* Page 2 */
 .dashboard_content_main_p2 button#page1 {
     background-color: #0cde0c;
     font-size: 10px;
     width: 100px;
     height: 40px;
     margin: 5px;
     color: #fff;
     border: 7px solid #f904ed
 }

 .dashboard_content_main_p2 button#page3 {
     background-color: #f904ed;
     font-size: 10px;
     width: 100px;
     height: 40px;
     margin: 5px;
     color: #fff;
 }

 .dashboard_content_main_p2 #Jake {
     width: 320px;
     height: 250px;

     border: 5px solid #3905f4;
     margin: 25px;
 }

 #Glory img {
     height: 250px;
     width: 300;
     font-weight: bold;
     border: 5px solid #3905f4;
     margin: 25px;
 }

 #Batty img {
     height: 250px;
     width: 300px;
     font-weight: bold;
     border: none;
     margin: 15px;
     padding: 15px;
     border: 5px solid #3905f4;
 }

 #Bruno img {
     height: 250px;
     width: 250;
     font-weight: bold;
     margin: 15px;
     border: 5px solid #3905f4;

 }

 #Gobbles img {
     height: 250px;
     width: 300px;
     font-weight: bold;
     border: none;
     margin: 15px;
     padding: 15px;
     border: 5px solid #3905f4;
 }

 /* Specific styles for buttons in .dashboard_content_main_p3 */
 .dashboard_content_main_p3 button.one {
     color: #3905f4;
     width: 300px;
     height: 60px;
 }

 button#page2 {
     background-color: #3905f4;
     width: 100px;
     height: 40px;
     font-size: 10px;
     color: #fff;
     border: 7px solid #f904ed
 }
.item {
     height: 30px;
     width: 60px;
     font-size: 17px;
     font-weight: bold;
     color: #3905f4;
     border: 3px solid #3905f4;
    margin-left: 20px;
 }
 
 .title {
     width: 50px;
     height: 150px;
     color: #3905f4;
     font-weight: bold;
     font-size: 60px;
 }